.banner{
  height:400px;
  background-color:#1F2937;
  color: white;
}
.banner h1{
 text-align: center;
 padding: 30px;
 margin-bottom: 0px;
 font-size: 48px;
}
.form{
  padding-top: 0px;
}
.form label{
  text-align: center;
  font-size: 24px;
  padding: 10px;
  display: block;
}

.search{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search .text-area{
  width: 300px;
  height: 25px;
}
.search .blue-button{
  margin-top:0px;
  margin-left: 5px;
  height: 41px;
}
.chat{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat p{
  font-size: 24px;
}
.container h1{
  text-align: center;
  font-size: 36px;
}
.question-cards{
  display: flex;
  justify-content: space-around;
}
.card{
  height: 300px;
  width:450px;
  margin-bottom: 30px;
  padding: 15px;
  margin-left: 20px;
  border: none;
}
.card h2 {
  text-align: center;
}
.card p {
  text-align: justify;
}
.blue-button{
  background-color: #3882F6;
  color:white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
.fa-rocketchat{
  font-size: 30px;
}
.chat .blue-button{
  margin-top: 0px;
}
.bottom .blue-button{
 float: right;
 margin-right: 50px;
 margin-bottom: 50px;
}
