@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/Roboto-Light.ttf)
}
header, footer{
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  font-family: "RobotoLight", sans-serif;
}
footer{
  color: #F9FAF8;
}
header{
  justify-content: space-evenly;
}
header .logo{
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
  font-family: "RobotoRegular", sans-serif;
}
header nav{
  display: flex;
  font-size: 18px;
}
nav ul{
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
nav ul li{
  padding: 1vw;
}
nav ul li:hover {
  background-color:cadetblue;
  text-decoration: none;
}
nav a:link {
  color: #E5E7EB;
  background-color: transparent;
  text-decoration: none;
}
nav a:active {
  color: #E5E7EB;
  background-color: transparent;
  text-decoration: none;
}
nav a:visited {
  color: #E5E7EB;
  background-color: transparent;
  text-decoration: none;
}

