.header, .footer{
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  width:100%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
} 
.footer{
  color: #F9FAF8;
}
.header{
  justify-content: space-between;
  padding: 0 21vw 0 17vw;
}
.header .logo{
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
}
.header .navbar{
  margin: 0;
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  justify-content: space-around;
}
.navbar ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navbar ul li{
  display: flex;
  margin: 0;
}
.navbar ul li a{
  display: block;
  margin: 0;
  padding: 1vw;
}
.navbar ul li a:hover {
  background-color:#3882F6;
  text-decoration: none;
}
.navbar ul li a:link {
  color: #E5E7EB;
  text-decoration: none;
}
.navbar ul li a:active {
  color: #E5E7EB;
  text-decoration: none;
}
.navbar ul li a:visited {
  color: #E5E7EB;
  text-decoration: none;
}