body{
  font-family: "Roboto";
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
}
.section-1{
  display: flex;
  justify-content: center;
  padding: 3vw 21vw 3vw 17vw;
  background-color: #1F2937;
}
.hero-container{
  display: flex;
}
.hero-container div{
  width: 50%;
}
.hero-main-text{
  font-weight: 900;
  margin: auto;
  font-size: 48px;
  color: #F9FAF8;
  padding-right: 3vw;
}
.hero-secondary-text{
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #E5E7EB;
  padding-right: 3vw;
}
.hero-placeholder img{
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid #3882F6;
}
.hero-text .view-more-button{
  background-color: #3882F6;
  border-radius: 10px;
  padding: .5rem 1.5rem;
  color: #E5E7EB;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  margin: 1rem auto;
  cursor: pointer;
}
.sign-up-button-container .sign-up-button{
  background-color: #3882F6;
  border-radius: 10px;
  padding: .5rem 1.5rem;
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
  font-size: 1rem;
  font-family: inherit;
  margin: 1rem auto;
  cursor: pointer;
}
.sign-up-button:hover, .view-more-button:hover{
  box-shadow: rgba(255, 255, 255, 0.477) 0px 0px 8px;
}
.section-2{
  display: flex;
  justify-content: center;
  padding: 0 21vw 3vw 17vw;
}
.preview-container{
  display: flex;
  flex-direction: column;
}
.preview-information{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}
.preview-images{
  display: flex;
  font-size: 18px;
  color: #1F2937;
}
.preview-images .image-text-container{
  margin: 1vw;
}
.preview-images .image-text-container img{
  border: 4px solid #3882F6;
  border-radius: 10%;
  width: 11vw;
  height: 11vw;
}
.preview-images .image-text-container p{
  width: 11vw;
  padding: 4px;
  text-align:center;
}
.section-3{
  display: flex;
  justify-content: center;
  padding: 0 21vw 0 17vw;
  background-color: #E5E7EB;
}
.quote-container{
  display:flex;
  flex-direction: column;
  padding: 5vw;
}
.quote-container .quote-text{
  font-size: 36px;
  font-weight:300;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}
.quote-container .quote-autor{
  font-size: 20px;
  font-weight: 900;
  color: #1F2937;
  margin: 0;
  text-align: end;
}
.section-4{
  display: flex;
  justify-content: center;
  padding: 0 21vw 0 17vw;
}
.sign-up-container{
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  border-radius: 15px;
  width: 100%;
  padding: 2vw 4vw 2vw 4vw;
  margin: 3vw 0 3vw 0;
}
.sign-up-text .sign-up-main-text{
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 900;
}
.sign-up-text .sign-up-secondary-text{
  color: #E5E7EB;
  font-weight: 300;
}
.sign-up-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}